{% extends '3base.html' %}
{%  block title %}
    <title>Familiar Account</title>
{%endblock%}
{% block familyForm %}
<form action="" mathod="POST">
    <div class="chooose-cont">
        <div id="cont-div">
            <div style="line-height: 42px; text-align: center; width: 560px; padding: 0px 20px;">
                <div style="text-align: left;">
                    <a href="{% url 'choose' %}" class="ret-color"><  Back</a>
                </div>
                <p id="choose-title">Register as a familiar</p>
                <div class="info-account">
                    <span >Register your family account, here you can access through a code and filling in the data to know about your child's school activities.<span>
                </div>
            </div>
            <div class="cont-divs" style="height: 305px;">
                <input type="text" class="txt-input" placeholder="Email" maxlength="40"></input>          
                <input type="password" class="txt-input" placeholder="Password" maxlength="20"></input>       
                <input type="password" class="txt-input  mini-pass" placeholder="Confirm password" maxlength="20"></input>        
                <input type="text" class="txt-input txt-code" placeholder="Class code" maxlength="10"></input>   
                <input type="button" class="btn-registerF" value="Create account"></input>
                <br>
                <p style="font-weight: 450;font-size: 14px; margin-top: 10px;
                margin-bottom: 55px; "><span>do you have an account?  <a class="txt-under" href="{% url 'login' %}"> Log in</a></span></p>
            </div>
            <hr style="width:45%; float:left;">
            
            <hr style="width:45%; float:right;">
            <br>
            <div class="cont-divs">
                <input type="button" class="btn-social btn-google" value="Register with Google"></input>  
                <input type="button" class="btn-social btn-facebook" value="Register with Facebook"></input>  
                <input type="button" class="btn-social btn-apple" value="Register with Apple"></input>  
            </div>
        </div>
    </div>
</form>
{%endblock%}